.venv/
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
.env
data/*
!data/.gitkeep
artifacts/*
!artifacts/.gitkeep
!artifacts/model_choice.json
mlflow.db
mlruns/
artifacts/cache/
artifacts/pretrained_bundle.gz
**/__pycache__/
**/*.pyc
**/*.pyo